*{
    font-family:'Righteous', cursive;
    padding: 0;
    margin: 0;
    
    background: beige;
}
.jumbotron{
    width: 90%;
    height: 1s%;
    background: linear-gradient(to left, beige, navajowhite,beige);
    position: relative;
    left: 70px;
}
input{
    font-size: 20px;
}

h1{
    margin-top : 70px;
    font-size: 35px;
}

#userinput{
    width: 500px;
    height: 60px;
    display: inline-block;
}

.btn{
    margin: 20px 7px;
    padding: 13px;
    font-size: 20px;
     
}

.form-control{
    margin: 0 auto;
}

ul{
    list-style-type: none;
}
 footer{
    
    margin: 0;
     padding: 0;
    opacity: 0.7;
   
    text-align: center;
    
     font-size: 15px;
     margin-top: 75px;
    

     
    
}